body {
    background-color: #1d2433;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.animated-text {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 100px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    letter-spacing: 0.1em;
    background: linear-gradient(90deg, #239BEC, #2565EB, #239BEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blinking-cursor {
    font-weight: bold;
    font-size: 4rem;
    color: white;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 80%;
}

.project {
    background-color: #181f38;
    color: #b9a450; /* Farbton für den Beschreibungstext */
    font-size: 1.2rem; /* Beispiel: Schriftgröße anpassen */
    margin: 0 10px;
    padding: 20px;
    min-width: 200px;
    flex: 0 0 auto;
    border-radius: 10px;
    position: relative; /* Position für das Bild festlegen */
}


.project.visible {
    opacity: 1;
}
