body {
    background-color: #1d2433;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

#about-me {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    padding: 20px;
    border-radius: 8px;
    background-color: transparent; /* Transparent background */
    text-align: center;
}

#about-me.visible {
    opacity: 1;
    transform: translateY(0);
}

#about-me:hover {
    transform: scale(1.01); /* Scale entire section on hover */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.about-me-title {
    opacity: 0;
    animation: slideInLeft 1s forwards; /* Animation to slide in from the left */
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-me-text {
    font-size: 2.1em; /* Larger font size for text */
    line-height: 1.6; /* Line height for better readability */
}

.highlight {
    background: linear-gradient(90deg, #239BEC, #2565EB, #239BEC);
    color: #fff; /* Text color for highlight */
    padding: 0 5px; /* Padding for highlight */
    border-radius: 3px; /* Border radius for rounded corners */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; /* Smooth transition for highlight */
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.animated-text {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 100px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    letter-spacing: 0.1em;
    background: linear-gradient(90deg, #239BEC, #2565EB, #239BEC);
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text; /* For standard browsers */
    -webkit-text-fill-color: transparent;
}

.typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret, white);
    animation: blink 0.6s linear infinite;
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: white; }
}


.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; /* Show overflow content */
    width: 100%;
    padding: 20px; /* Add padding to make enlarged boxes visible */
}

.project {
    background-color: #181f38;
    color: #b9a450; /* Color tone for description text */
    font-size: 1.2rem; /* Example: Adjust font size */
    margin: 0 10px;
    padding: 20px;
    min-width: 200px;
    flex: 0 0 auto;
    border-radius: 10px;
    position: relative; /* Set position for the image */
    border: 1px solid transparent; /* Optional: Border for better control */
    box-shadow: 0 0 10px 2px rgba(185, 164, 80, 0.8); /* Glowing edge */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition effect */
}

.project:hover {
    transform: scale(1.1); /* Enlarge on hover */
    box-shadow: 0 0 20px 5px rgba(185, 164, 80, 1); /* More intense glowing edge on hover */
}

.button {
    margin: 12px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
      inset -5px -5px 10px #222;
    font-family: "Damion", cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
}

.button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
}

.project.visible {
    opacity: 1;
}


footer {
    text-align: center; /* Zentriere den Text */
    padding: 20px; /* Polsterung */

    width: 100%; /* Volle Breite */
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1); /* Schatten oben */
    margin-top: auto; /* Schiebt den Footer ans Ende der Seite */
}

footer p {
    margin: 5px 0; /* Reduziere den Abstand zwischen den Absätzen */
    font-size: 14px; /* Schriftgröße */
    color: #a8a2a2; /* Schriftfarbe */
    cursor: pointer; /* Zeiger-Cursor */
}


.notification {
    display: none; /* Verstecke die Benachrichtigung standardmäßig */
    position: fixed; /* Fixiere die Benachrichtigung */
    bottom: 10%; /* Positioniere die Benachrichtigung etwas über dem Footer */
    left: 50%; /* Zentriere die Benachrichtigung horizontal */
    transform: translateX(-50%); /* Zentriere die Benachrichtigung */
    background-color: #3e884098; /* Grüne Hintergrundfarbe */
    color: white; /* Weiße Schrift */
    padding: 10px 20px; /* Polsterung */
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Schatten */
}




.container {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    position: relative;
    width: 50px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 10px;
    text-align: center;
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #2565EB, #239BEC);
    border-radius: 15px 15px 0 0;
    z-index: 1;
}

.column span {
    position: absolute;
    bottom: -25px;
    width: 100%;
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 30px;
    height: auto;
    position: relative;
    z-index: 2;
}





.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0); /* Transparenter Hintergrund */
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;

}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #c4bdbd;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #2398EC;
}












#animated-container {
    opacity: 0; /* Anfangs unsichtbar */
    transform: translateX(-100%); /* Anfangs nach links verschoben */
    transition: all 2s ease-in-out; /* Glatte Animation */
}

#animated-container.animate {
    opacity: 1; /* Sichtbar */
    transform: translateX(0); /* In die ursprüngliche Position verschoben */
}

/* Deine bestehenden Styles für container, columns und column bleiben unverändert */





.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Optional: Full height of the viewport */
}










.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
  }
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }