body {
    background-color: #1d2433;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.animated-text {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 100px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    letter-spacing: 0.1em;
    background: linear-gradient(90deg, #239BEC, #2565EB, #239BEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blinking-cursor {
    font-weight: bold;
    font-size: 4rem;
    color: white;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; /* Zeige Überlauf-Inhalte */
    width: 100%;
    padding: 20px; /* Füge Puffer hinzu, damit vergrößerte Kästen sichtbar bleiben */
}

.project {
    background-color: #181f38;
    color: #b9a450; /* Farbton für den Beschreibungstext */
    font-size: 1.2rem; /* Beispiel: Schriftgröße anpassen */
    margin: 0 10px;
    padding: 20px;
    min-width: 200px;
    flex: 0 0 auto;
    border-radius: 10px;
    position: relative; /* Position für das Bild festlegen */
    border: 1px solid transparent; /* Optional: Border für bessere Kontrolle */
    box-shadow: 0 0 10px 2px rgba(185, 164, 80, 0.8); /* Leuchtender Rand */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Übergangseffekt */
}

.project:hover {
    transform: scale(1.1); /* Vergrößerung bei Hover */
    box-shadow: 0 0 20px 5px rgba(185, 164, 80, 1); /* Intensiverer leuchtender Rand bei Hover */
}


button {
    margin: 12px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
      inset -5px -5px 10px #222;
    font-family: "Damion", cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
  }
  
  button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
  }
  






.project.visible {
    opacity: 1;
}
